<h2 class="heading">管理者ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="table">
    <tr>
      <th class="table__heading"><%= f.label :メールアドレス %></th>
      <td class="table__form"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th class="table__heading"><%= f.label :パスワード %></th>
      <td class="table__form"><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
  </table>

  <div class="btn post">
    <%= f.submit "ログイン", class: "btn__big--green" %>
  </div>
<% end %>
