<div class="index-address">
  <% spots.each do |spot| %>
    <div class="index-address__item">

      <div class="image">
        <ul class="slider image__box">
          <% spot.spot_images.each do |image| %>
            <li class="image__item">
              <%=link_to spot_path(spot) do %>
                <%= image_tag image, size: "340x340" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="index-address__content">
        <span class="index-address__text">
          <%= image_tag "label2.png" %>
          <%= spot.address.truncate(15, omission: '…') %>
        </span>
        <span class="favorite" id="favorite-btn-<%= spot.id %>">
          <%= render "public/favorites/favorite", spot: spot %>
        </span>
      </div>

    </div>
  <% end %>
</div>

