<header class="header">
  <div class="header__logo">
    <!--（end_userログイン後）ヘッダーロゴの遷移先-->
    <% if end_user_signed_in? %>
      <%= link_to spots_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    <!--（adminログイン後）ヘッダーロゴの遷移先-->
    <% elsif admin_signed_in? %>
      <%= link_to admin_end_users_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    <!--（ログイン前）ヘッダーロゴの遷移先-->
    <% else %>
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    <% end %>
  </div>

  <!--検索機能-->
  <div class="header__search">
    <!--end_userログイン後-->
    <% if end_user_signed_in? %>
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :content, :placeholder => "住所  #タグ名" %>
        <%= f.button :type => "submit", style: "border-style: none;" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <!--pc-->
  <div class="pc">
    <nav>
      <ul class="header__link">
        <!--end_userログイン後-->
        <% if end_user_signed_in? %>
          <li class="header__link--item">
            <%= link_to end_user_path(current_end_user) do %>
              <i class="fa-solid fa-house-chimney header__icon"></i>
            <% end %>
          </li>
          <li class="header__link--item">
            <%= link_to new_spot_path do %>
              <i class="fa-solid fa-circle-plus header__icon"></i>
            <% end %>
          </li>
          <li class="header__link--item">
            <%= link_to notifications_path do %>
              <i class="fa-solid fa-bell header__icon"></i>
            <% end %>
            <% if unchecked_notification.any? %>
              <i class="fa-solid fa-circle header__action"></i>
            <% end %>
          </li>
          <li class="header__link--item">
            <%= link_to destroy_end_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket header__icon"></i>
            <% end %>
          </li>

        <!--管理者ログイン後-->
        <% elsif admin_signed_in? %>
          <li class="header__link--item">
            <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket header__icon"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <!--レスポンシブ対応（画面サイズ768px以下）-->
  <div class="tablet">
    <div class="hm">
      <div class="hm__trigger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <nav class="hm__nav">
      <ul>
        <!--end_userログイン後-->
        <% if end_user_signed_in? %>
          <li>
            <%= link_to end_user_path(current_end_user) do %>
              <i class="fa-solid fa-house-chimney"></i>マイページ
            <% end %>
          </li>
          <li>
            <%= link_to new_spot_path do %>
              <i class="fa-solid fa-circle-plus"></i>新規投稿
            <% end %>
          </li>
          <li class="header__link--item">
            <%= link_to notifications_path do %>
              <i class="fa-solid fa-bell header__icon"></i>通知
            <% end %>
          </li>
          <li>
            <%= link_to destroy_end_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i>ログアウト
            <% end %>
          </li>

        <!--管理者ログイン後-->
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i>ログアウト
            <% end %>
          </li>
        <!--ログイン前（共通）-->
        <% else %>
          <li>
            <%= link_to "新規登録", new_end_user_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_end_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

</header>