<header>
  <ul class="header">
    
    <!--end_userログイン後-->
    <% if end_user_signed_in? %>
      <li class="header__link--logo">
        <!--ヘッダーロゴつける-->
        <%= link_to spots_path do %>
          <img src="" alt="headerlogo" >
        <% end %>
      </li>
      <li class="header__link">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :content, :placeholder => "住所 or #タグ名" %>
          <%= f.submit "search" %>
        <% end %>
      </li>
      
      <li class="header__link">
        <%= link_to end_user_path(current_end_user) do %>
          <i class="fa-solid fa-house-chimney"></i>
        <% end %>
      </li>
      <li class="header__link">
        <%= link_to new_spot_path do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </li>
      <li class="header__link">
        <!--通知のリンクつける-->
        <i class="fa-solid fa-bell"></i>
      </li>
      <li class="header__link">
        <%= link_to destroy_end_user_session_path, method: :delete do %>
          <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      </li>
      
    <!--管理者ログイン後-->
    <% elsif admin_signed_in? %>
      <li class="header__link--logo">
        <!--ヘッダーロゴつける-->
        <%= link_to spots_path do %>
          <img src="" alt="headerlogo" >
        <% end %>
      </li>
      <li class="header__link">
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      </li>
      
    <!--ログイン前（共通）-->
    <% else %>
      <li class="header__link--logo">
        <!--ヘッダーロゴつける-->
        <%= link_to root_path do %>
          <img src="" alt="headerlogo" >
        <% end %>
      </li>
    <% end %>
    
  </ul>
</header>